# Python-Specific Files and Folders
# PYC Repository Directories https://www.python.org/dev/peps/pep-3147/
**/__pycache__
# Python byte-code files
**/*.pyc
# Python optimized byte-code files
**/*.pyo
# Windows Python shared object files
**/*.pyd
# Jython equivalent of .pyc
**/*$py.class
# Python Setuptools egg directory or zipfile https://setuptools.readthedocs.io/en/latest/formats.html
*.egg
# Python Setuptools egg directory or zipfile https://setuptools.readthedocs.io/en/latest/formats.html
**/*.egg-info/*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# Mac OS Files
**/.DS_Store

# Windows Files
**/desktop.ini

# Linux Files
*.so  # Linux Shared Objects